body{
    background-color: rgba(196, 116, 13, 0.65);
    background-image: url('scroll.jpg');
}

h1{
    font-size: 50px;
    text-align: center;
    font: leviathan;
}

@font-face {
    font-family: Herculanum;
    src:local("birnl154.github.io/fonts/Herculanum/HerculanumRegular.ttf");
}

.font {
    font-family: Leviathan;
    src:local("birnl154.github.io/fonts/Leviathan/LeviathanBig-0K8d.ttf");
}

