@font-face {
    font-family: 'austin';
    src: url(fonts/austin.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Herculanum';
    src: url(fonts/Herculanum.woff2);
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 100px;
}
h3 {
    font-family: 'austin', cursive;
    font-size: 150px;
}

h4 {
    font-family: 'HERCULANUM', cursive;
    font-size: 100px;
}
