h1 {
    font-family: 'Righteous';
    font-size: 100px;
    color: white;
    background-color: black;
    margin: 20px;
}
body {

    background-image: url("../birnl154.github.io/images/shadow.tif");
    background-attachment: scroll;
    font-size: 50px;
    background-color: black;
    margin: 20px;
}

a{
    font-family: 'Questrial';
    color: white;
    align-content: left;
    word-spacing: 20px;
}

a:hover{
    color: lightblue;
}
