
body{font-size: 20px;background-color: white;}

.wrapper{background-color: #BBBEFE;}


.entries{background-color: #BBBEFE; font-family: verdana;font-size: 20px;text-align: center}

a{color: cadetblue;}

.heading{ font-family: verdana;font-size: 25px;color: cadetblue;text-align: center}