body{
  margin: 100 px;
  font-size: 20px;
  background-color: black;
  font-family: verdana
}

a{color: white;  margin: 100 px;font-family: Cutive Mono;}
.entries{background-color: white; font-family: verdana;font-size: 20px;text-align: center}


.heading{ font-family: verdana;font-size: 25px;color: cadetblue;text-align: center}

h1{
  color: red;
}
.myDIV1:hover + .hide {
  display: block; color: white; font-family: 'Stardos Stencil', monospace;
  color: white; font-size: 30px; text-align: center;
}


.hide {
  display: none; font-family: 'Stardos Stencil', cursive;
}

p{color: white; font-family: Cutive Mono; font-size: 40px; margin: 100 px;}

button:hover {
        background-color: darkred;
        transition: 0.2s;
        font-family: 'Stardos Stencil', cursive;
         webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
      }

img {
  transition: transform 3s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}

p:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

a:hover {
 color: red;
}


p:hover {
 color: red;
}


div {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: darkred;
}

div{color: white; font-size: 50px; text-align: left;}


button{width: 2000px;
        height: 300px;
        font-family: Cutive Mono;
        font-size: 200px;
        text-align: center;
      }
