body{
    background-color:black;
    color:white;
}



.typewriter {
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}
nav {

    height: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul li {
    float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size:20px;
  text-decoration: none;
    font-family: "greycliff-cf", sans-serif;
  font-weight: 550;
  font-style: normal;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 0);
}

@keyframes blink {
    0% {
      opacity: 1; /* Fully visible */
    }
    75% {
      opacity: 0; /* Fully invisible */
    }
    100% {
      opacity: 1; /* Fully visible again */
    }
  }
  
  /* Apply the animation to your text element */
  .blinking-text {
    animation: blink 8s infinite; /* 1s duration, infinite loop */
  }
  

  .typewriter {
    width:fit-content;
    align-items: center;
    text-align: center;
    font-size: 50px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3s steps(40, end) infinite,
    blink-caret .4s step-end infinite 0s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
