
    
    body{
        background-color:black;
    }
    
    
    .title {
        color: lightblue;
        align-items: center;
        text-align: center;
        font-size: 200px;
            font-family: 'austin', cursive;
            font-weight: 50;
    }
    
    nav {
    
        height: 50px;
        color: #fff;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Rubik Light', sans-serif;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 25px;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        background-color: rgb(0, 0, 0);
    }
    
    #thou {
        position: absolute;
        z-index: 30;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      #shall {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #bestow {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #the {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #once {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #doth {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #with {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #hence {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #til {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #eve {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #for {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #ever {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #there {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #fine {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #forth {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #upon {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
     
      #fortnight {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #thy {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #there {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #fine {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #dream {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #up {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #down {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #your {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
     
      #honest{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #inherit{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #judicious{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #knap{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #land{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #lapsed{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #mad{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #mate{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #note{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #ought{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #painfull{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #pall{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #particoat{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #quaint{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #quake{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #quicken{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #rapture{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #respect{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #retire{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #still{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #take{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #tax{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #testy{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #undergo{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #unpregnant{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #vindictive{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #vile{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #want{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #wherefore{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #young{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #heart{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #that{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #afoot{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #anon{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #betwixt{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #ere{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #foe{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #forbear{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #hast{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #hie{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #hence{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #hither{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #mark{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #nay{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #oft{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #pray{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #tis{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #twas{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #woo{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #yea{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #yonder{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #brow{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #morrow{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #glass{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #visage{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #wit{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #cousin{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #gentlewoman{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #signor{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      #wench{
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }