
    
    body{
        background-color:black;
    }
    
    
    .title {
        color: lightblue;
        align-items: center;
        text-align: center;
        font-size: 200px;
            font-family: 'austin', cursive;
            font-weight: 50;
    }
    
    nav {
    
        height: 50px;
        color: #fff;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Rubik Light', sans-serif;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 25px;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        background-color: rgb(0, 0, 0);
    }
    
    #thou {
        position: absolute;
        z-index: 30;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      #shall {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #bestow {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #the {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #once {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #doth {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #with {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #hence {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #til {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #eve {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #for {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #ever {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #there {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #fine {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #forth {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #upon {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
     
      #fortnight {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #thy {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #there {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #fine {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #dream {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
      #up {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #down {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
    
      #your {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
      }
     
     
     