
    
    body{
        background-color:black;
    }
    
    
    .title {
        color: lightblue;
        align-items: center;
        text-align: center;
        font-size: 200px;
            font-family: 'austin', cursive;
            font-weight: 50;
    }
    
    nav {
    
        height: 50px;
        color: #fff;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: "greycliff-cf", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 25px;
        font-size:20px;
        text-decoration: none;
          font-family: "greycliff-cf", sans-serif;
        font-weight: 550;
        font-style: normal;
    }
    
    nav ul li a:hover {
        background-color: rgb(0, 0, 0);
    }
    
    .draggable-container > div {
        position: absolute;
        z-index: 9;
        text-align: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:none;
        font-family: "greycliff-cf", sans-serif;
        font-weight: 200;
        font-style: normal;
        height:40px;
        display: flex;
              align-items: center;
              justify-content: center;
      }
      
    