
body {
  background-color: pink;
  font-family: arial;
  color: red;
  font-size: 100px;
}




#yin-yang {
  height:500px; text-align: center;
  animation: yinYangSpin 3s infinite ease-out;
  animation-name: yinYangSpin;
}


@keyframes yinYangSpin {
0% { transform: rotate(0);
}
100% { transform: rotate(1turn);
}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
  animation: spinType 2s;
}


@keyframes spinType {
0% { color: blue;
}
50%{letter-spacing: 25px;}
100% { transform: rotate(1turn);
}
}

#yin-yang: hover{
  animation-name: yinYangSpin;
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes colorwWap {
0% { transform: rotate(0);
}
100% { transform: rotate(1turn);
}
}


