
body{
	background-color: #ff9a42;
}

marquee{color: BLACK;}
#star {
  height:3000px; text-align: center;
  animation: yinYangSpin 3s infinite ease-in-out alternate-reverse;
  animation-name: yinYangSpin;
}


@keyframes yinYangSpin {
0% { transform: rotate(0);
}
100% { transform: rotate(1turn);
}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
  animation: spinType 2s;
}


@keyframes spinType {
0% { color: blue;
}
50%{letter-spacing: 25px;}
100% { transform: rotate(1turn);
}
}

#star: hover{
  animation-name: yinYangSpin;
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes colorwWap {
0% { transform: rotate(0);
}
100% { transform: rotate(3turn);
}
}
h1{
	font-family: Verdana;
	font-size: 230px;
	color: white;
}







div{
	font-size: 200px;
	color: white;
	font-family: Georgia;
}

p{font-size: 200px}

marquee{
	transform: scale(100.0);
}

a{
	font-family: Verdana;
	font-size: 150px;
	color: white;
}

@media (max-width: 650px) {
  body {
    background-color: blue;
    color:  black;
  }

@media (max-height: 50px) {
  body {
    background-color: red;
  }

  @media (max-height: 650px) {
  body {
    background-color: lavender;
    color: navy;
  }


img {
  max-width: 50%;
}

marquee{
	transform: scale(100.0);
}