body{
	background-color: #E0E0B8;
}
a{
	color: white;
	text-align: left;
	font-size: 20px;
}

h1{
	font-family: Courier;
	font-size: 30px;
	color: white;
}

h2{
	font-family:'Rubik Bubbles';
	letter-spacing: 4px;
}


@keyframes spinType {
  0% {
    transform: translate(50px, 100px);;
  }
  60% {
    transform: translate(10px, 50px);;
  }
  100% {
    transform: translate(60px, 20px);
  }
}

.button {
  animation: spinType 3s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.button2 {
  animation: spinType 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
p{
	text-align: center;
	position: relative;
	font-family: 'Rubik Bubbles', cursive;
	font-size: 80px;
	color: orange;
}

.selfie {
	position: relative;
}

.leopard {
	position: relative;
}


.experiment {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 50px;
  color: green;
  text-align: center;
}



.button {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  pink;
  color:  yellow;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button:hover {
  background-color: orange;
  cursor:  pointer;
}


.button2 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  purple;
  color:  teal;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button2:hover {
  background-color: #DEB887;
  cursor:  pointer;
}
