
body {
	background-color:lightblue;
}

h1 {
	font-size: 50px;
	text-align: center;
	color:white;
		font: georgia;

}

a{
	color: white;
	font-size: 30px;
}

p{
	color: white;
	text-align: center;
	font: georgia;
	font-size: 30px;
}
p:hover{
	transform: scale(1.5);
	color: orange;
}

.candle1 {
	position: sticky;
}

.shirtcandle:hover{
	opacity: 50%;
}

a:hover{
	color: blue;
}

.shoescandle {
  animation: glow 4.5s;
animation-iteration-count: infinite;
animation-play-state: ease-out;
animation-delay: .5s;
}
.shirtcandle {
  animation: glow 2.5s;
animation-iteration-count: infinite;
animation-play-state: ease-out;
animation-delay: 2s;
}
.pantscandle {
  animation: glow 3.5s;
animation-iteration-count: infinite;
animation-play-state: ease-out;
animation-delay: 1s;
}

@keyframes glow {
0% { opacity: 0%;
}
5% {opacity: 10%}
10% {opacity: 30%}
20% {opacity: 70%}
30% {opacity: 80%}
40%{opacity: 100%;}
50%{opacity: 80%;}
60%{opacity: 60%;}
70%{opacity: 40%;}
80%{opacity: 20%;}
90%{opacity: 10%;}
100% {opacity: 0%;
}
}
