body{background-color: lightblue;font-family: arial;}

div{background-color: lavender;}

.wrapper{color: blueviolet;}

.content{font-family: courier;}

h1{font-family: 'Rock Salt', cursive; font-weight: 700; font-size: 70 px;}
