

@font-face {
    font-family: 'Rigatoni';
    src: url(../fonts/trial-rigatoni-mega-wide.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 20px;
    background: #FFFFFF;

}
h1{
    font-family: 'Rigatoni';
    color:rgb(106, 63, 44);
    font-size: 200px;
    float: center;
}

h2 {
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
    text-decoration: none;
}

h3 {
    font-family: "franklin-gothic-urw", sans-serif;
font-weight: 300;
font-style: normal;}

/* h2:hover {
    opacity: 70%;
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
} */

.name {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 10vh;
}

#hot:hover {
    opacity: 50%;
}

#iced:hover {
    opacity: 50%;
}

#drop1 {

position: absolute;
width: 68.21px;
height: 138.38px;
left: 453.29px;
top: 221.72px;

background: #B76363;
border: 3px solid #6A3F2C;
}