

@font-face {
    font-family: 'Rigatoni';
    src: url(../fonts/trial-rigatoni-mega-wide.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 30px;
}
h1{
    font-family: 'Rigatoni';
    color:rgb(106, 63, 44);
    font-size: 50px;
}

h2 {
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
    text-decoration: none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(162, 154, 141);
}
/* h2:hover {
    opacity: 70%;
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
} */

