
h3 {
    font-family: "franklin-gothic-urw", sans-serif;
font-weight: 300;
font-style: normal;
color: #d5c5bc;}

@font-face {
    font-family: 'Rigatoni';
    src: url(../fonts/trial-rigatoni-mega-wide.ttf);
    font-weight: normal;
    font-style: normal;
}


h1{
    font-family: 'Rigatoni';
    color: rgb(106, 63, 44);
    font-size: 50px;
}
p {
    font-family: "franklin-gothic-urw", sans-serif;
    color: white;
font-weight: 300;
font-style: normal;}

h2 {
    font-family: 'Rigatoni';
    font-size: 20px;
    color: rgb(106, 63, 44);
    text-decoration: none;
}

/* h2:hover {
    opacity: 70%;
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
} */

.name {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-container {
    display: flex;
flex-wrap: wrap;
justify-content: center;
height: 0vw;
}

img {
    width: 420px;
    margin: 10px;
}

body {
    height: 3000px;
    display: flex;
  background-color: white;/* For browsers that do not support gradients */
  background-image: linear-gradient(white, #d5c5bc,  #603813);

}

.popup {
    display: none;
    position: absolute;
    top: calc(50% + 2000px);
    width: 200px;
    left: calc(0% + 10px);
    font-size: 20px;
    color: #d5c5bc;
    padding: 20px;
    background-color: #fff;
    border: 10px solid  #d5c5bc;
    
  }

  .popup:hover {
  opacity: 0%;
    
  }

  .popup2:hover {
    opacity: 0%;
      
    }
  .popup2 {
    display: none;
    position: absolute;
    top: calc(50% + 500px);
    right: calc(0% + 10px);
    color: #d5c5bc;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    border: 10px solid  #d5c5bc;
    
  }
  
  
@media (min-width: 1281px) {
  
    img {
        width: 460px;
        margin: 10px;
    }
    
    body {
        height: 4800px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    .smallscreeninfo {
        opacity: 0;
     }
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    img {
        width: 420px;
        margin: 10px;
    }
    
    body {
        height: 8300px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    .smallscreeninfo {
        opacity: 0;
     }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    img {
        width: 420px;
        margin: 10px;
    }
    
    body {
        height: 8300px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    .smallscreeninfo {
        opacity: 0;
     }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    img {
        width: 330px;
        margin: 10px;
    }
    
    body {
        height: 8300px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    .smallscreeninfo {
       opacity: 0;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    img {
        width: 280px;
        margin: 10px;
    }
    
    body {
        height: 5900px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    h2{
        color:white;
      }

      h3{
        color: white;
      }
      .smallscreeninfo {
        position: fixed;
        bottom: 0;
        color: white;
        left: 0;
        font-size:12px;
        padding:10px;
        right: 0;
    }
  .popup {
    opacity:0;
     
   }
  .popup2 {
    opacity:0;
   }}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    img {
        width: 260px;
        margin: 10px;
    }
    
    body {
        height: 5500px;
        display: flex;
      background-color: white;/* For browsers that do not support gradients */
      background-image: linear-gradient(white, #d5c5bc,  #603813);
    
    }
    h2{
        color:white;
      }

      h3{
        color: white;
      }
      .smallscreeninfo {
        position: fixed;
        bottom: 0;
        color: white;
        left: 0;
        font-size:12px;
        padding:10px;
        right: 0;
    }
    .popup {
        opacity:0;
         
       }
      .popup2 {
        opacity:0;
       }
  }