

@font-face {
    font-family: 'Rigatoni';
    src: url(../fonts/trial-rigatoni-mega-wide.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin-left: 50px;
    color:white;
}
h1{
    font-family: 'Rigatoni';
    color:white;
    font-size: 50px;
}

h2 {
    font-family: 'Rigatoni';
    font-size: 20px;
    color:white;
    text-decoration: none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* h2:hover {
    opacity: 70%;
    font-family: 'Rigatoni';
    font-size: 20px;
    color:rgb(106, 63, 44);
} */

.name {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-container {
    display: list-item;
    flex-direction: row;
    justify-content:space-around;
    height: 10vh;
}

img {
    width: 300px;
    height: 300px;
}

body {
    background: #603813;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, # #d5c5bc, #603813);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, # #d5c5bc, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}