

@font-face {
    font-family: 'Rigatoni';
    src: url(../fonts/trial-rigatoni-mega-wide.ttf);
    font-weight: normal;
    font-style: normal;
}


h1{
    font-family: 'Rigatoni';
    color:white;
    font-size: 50px;
}

h2 {
    font-family: 'Rigatoni';
    font-size: 20px;
    color:white;
    text-decoration: none;
}



h3 {
    font-family: "franklin-gothic-urw", sans-serif;
font-weight: 300;
font-style: normal;}

p {
    font-family: "franklin-gothic-urw", sans-serif;
    color: white;
font-weight: 300;
font-style: normal;}

.name {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-container {
    display: flex;
flex-wrap: wrap;
justify-content: center;
height: 0vw;
}

img {
    width: 420px
}



body {
    height: 3500px;
    display: flex;
  background-color: #d5c5bc;
  background-image: linear-gradient(white, #d5c5bc,  #603813);
}