

h1{
	font-family: Courier;
}

body {background-color: #ffb094;
font-size: 50px;
color: darkred;
font-size: 30px;
margin: 50px;
}

p{
	font-family: Courier;
}
h2{
 font-family: 'Oi', cursive;
 font-weight: 100;
 font-size: 70px;
}

h3{
	font-family: Courier;
	font-size: 40px;
}

p:hover {
    transform:  scale(1, 15);
  transition: 0.3s;
}


h2:hover{
	color: white;
	transform: translate(400px);
	transform: scale(2.5);
	text-align: center;
}


p:hover{
	opacity: 50%;
}

@media (max-height: 650px) {
  body {
    background-color: lavender;
    color: navy;
  }


@media (max-width: 850px) {
  body {
    background-color: black;
    color:  white;
  }
}
@media (max-width: 650px) {
  body {
    background-color: yellow;
    color:  darkmagenta;
  }

  img {
  max-width: 100%;
  height: auto;
}

