@font-face {
    font-family: 'Herculanum';
    src: url(fonts/Herculanum.woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Leviathan';
    src: url(fonts/Leviathan.woff2);
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("../images2/scroll2.jpg");
    background-color: tan;
    font-family: 'Herculanum';
    margin: 100px; 
    text-align: center;
}

h1{
    font-family: 'Leviathan';
    font-size: 150px;
    text-align: center;
}
@keyframes translate {
    0% {
      opacity: 100%; font-family: 'Leviathan';
    }
    5% {
        opacity: 80%; font-family: 'Leviathan';
    }
    10% {
        opacity: 60%; font-family: 'Leviathan'
    }
    15% {
        opacity: 40%; font-family: 'Leviathan';
    }
    20% {
        opacity: 20%; font-family: 'Leviathan';
    }
    25% {
        opacity: 0%;
    }
    30% {
        opacity: 20%; font-family: 'Herculanum';
    }
    35% {
        opacity: 40%; font-family: 'Herculanum';
    }
    40% {
        opacity: 60%; font-family: 'Herculanum';
    }
    45% {
        opacity: 80%; font-family: 'Herculanum';
    }
    50% {
        opacity: 100%; font-family: 'Herculanum';
    }
    55% {
        opacity: 80%; font-family: 'Leviathan';
    }
    60% {
        opacity: 60%; font-family: 'Leviathan';
    }
    65% {
        opacity: 40%; font-family: 'Leviathan';
    }
    70% {
        opacity: 20%; font-family: 'Leviathan';
    }
    80% {
        opacity: 10%; font-family: 'Leviathan';
    }
    90% {
        opacity: 5%;
  }
  100% {
    opacity: 0%; font-family: 'Leviathan';
}
}
@keyframes body {
    0% {
      opacity: 100%; font-family: 'Leviathan';
    }
    10% {
        opacity: 80%; font-family: 'Leviathan';
    }
    20% {
        opacity: 60%; font-family: 'Leviathan'
    }
    35% {
        opacity: 40%; font-family: 'Leviathan';
    }
    40% {
        opacity: 20%; font-family: 'Leviathan';
    }
    55% {
        opacity: 0%;
    }
    60% {
        opacity: 20%; font-family: 'Herculanum';
    }
    75% {
        opacity: 40%; font-family: 'Herculanum';
    }
    80% {
        opacity: 60%; font-family: 'Herculanum';
    }
    95% {
        opacity: 80%; font-family: 'Herculanum';
    }
    100% {
        opacity: 100%; font-family: 'Herculanum';
    }

}
 h1 {
    animation: translate 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: ease-in-out;
  }

  h2 {
    font-family: 'Leviathan';
    font-size: 40px;
  }
  h2:hover {
    font-family: 'Herculanum';
    animation: body 10s;
    animation-play-state: ease-out;
    animation-iteration-count: 1;
  }
  h3 {
    font-family: 'Leviathan';
    font-size: 40px;
  }
