

body {
 background-image: url("tree.png");
 background-color: #a30207;
   background-repeat: no-repeat;
   color: white;

}

h1 {
	font-size: 50px;
	text-align: center;

}

a{
	color: white;
	font-size: 30px;
}
p{ 
font-size:20px }

.rightsock {
	  position: relative;
	  left: 200px

}

.skirt{
	  position: relative;
	  left: 300px

}


.shirt{
	  position: relative;
	  left: 300px

}

.leftsock{
	  position: relative;
	  left: 250px

}

.skirt {
  text-align: center;
  animation: shine 1.5s;
animation-iteration-count: infinite;
animation-play-state: ease-in-out;
}

.shirt {
  text-align: center;
  animation: shine 1.5s;
animation-iteration-count: infinite;
animation-play-state: ease-in-out;
animation-delay: .5s;
}

.leftsock {
  text-align: center;
  animation: shine 1.5s;
animation-iteration-count: infinite;
animation-play-state: ease-out;
}

.rightsock {
  text-align: center;
  animation: shine 1.5s;
animation-iteration-count: infinite;
animation-play-state: ease-in-out;
animation-delay: 1s;
}

@keyframes shine {
0% { opacity: 10%;
}
25% {opacity: 20%}
50%{opacity: 50%;}
75%{opacity: 70%;}
100% {opacity: 100%;
}
}
