

.header {
    position: relative;
    top:0px;
    align-items: flex-start;
}

.login {
    display: inline-block;
    color: blue;
    float: right;
    position: absolute;
    top:20px;
    right:0px;

}
.search {
    border: .5px solid #aaa;
    padding: 0.5em 0.5em;
    width: 400px;
    margin-top: 4px;
    color:rgb(151, 149, 149);
    text-align:justify;
    display: inline-block;
}

body{
    margin: 200px;
    margin-top: 0px;
    font-family: sans-serif;
}
.firstpart {
    display:flex;
    display:flex;
    flex-direction: row;
    padding: 10px;
    margin: 4px;
    gap: 20px;
    justify-content: center;
}


.leftbigbox {
    flex-direction: column;
    background-color: #f5fffa;
    border:.5px solid#cef2e0;
    padding: 5px;
    width: 4500px;
}
.rightbigbox {
    display:flex;
    flex-direction: column;
    background: #f5faff;
    border: .5px solid  #cedff2;
    padding: 5px;
    width: 4500px;
}
h1{
    border: .5px solid #aaa;
    margin: 0.5em 0;
    padding: 0.2em 0.4em;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
}
h2 {
    background-color: #cedff2;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    border:.5px solid #a3bfb1
}
h3{
    background-color:#cef2e0;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    border:.5px solid #a3bfb1
}

h4 {
    background-color: #ddcef2;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    border:.5px solid #978ca5;
    padding: 5px;
}

h5{
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #eee;
    border: .5px solid #aaa;
    padding: 5px;
}

h6 {
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #f2cedd;
    border: .5px solid #8e6b7a;
    padding: 5px;
}

   /*in the top banner */
h8 {
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0.2em 0.4em;
}

   /*standard text for whole page */
p{
    font-weight:normal;
    font-size: 14px;
    line-height: 22px;
}

.topbanner {
    justify-content:space-between;
    background-color:#f9f9f9;
    border: .5px solid #ddd;
    text-align: center;
    padding: 15px;
}

.secondpart {
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin: 4px;
    gap: 20px;
    text-align: left;
}

.featuredpicture {
    background: #faf5ff;
    border: .5px solid  #ddcef2;
    padding: 5px;
    display: inline-block;
}

.featuredlist {
    background: #fff5fa;
    border-color: #f2cedd;
    padding: 5px;
    display: inline-block;
}
.otherareas {
    border: .5px solid #aaa;
    padding: 0 0.5em 0.5em;
    margin-top: 4px;
}

.sisterprojects {
    border: .5px solid #aaa;
    padding: 0 0.5em 0.5em;
    margin-top: 4px;
}

.Wikipedialanguages {
    border: .5px solid #aaa;
    padding: 0 0.5em 0.5em;
    margin-top: 4px;
}

hr { 
    display: block; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) { .firstpart {
    flex-wrap:wrap;
    position:relative;
margin:0px}

body{
    margin:0px;
}
}
   



  @media only screen and (min-width: 768px) 
    /*this is what i edit on so this is the "normal" */
{}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 1024px) 
   /*accomdating margin so it doesn't seem small */
  { 
    body{
        margin:250px;
    }
    }


  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) 
     /*accomdating margin so it doesn't seem small */
  { 
    body{
        margin:300px;
    }
    }
